@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}



html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 892px;
  padding: 0;

}

.navigation-item {
  display: block;
  padding-bottom: 0;
  margin-bottom: 0;
}

.navigation-logo {
  display: block;
  padding-bottom: 0;
  margin-bottom: 0;
}

.page-header-logo {
  display: block;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 140px;
  margin-right: 28px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  width: 320px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  justify-content: flex-end;
  list-style-type: none;
}

.navigation-link {
  box-sizing: border-box;
  padding: 20px 16px;
  display: block;
  margin-bottom: 0;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
}


.navigation-user .navigation-link {
  min-width: 12px;
  min-height: 24px;
}

.navigation-button {

  background-color: #756157;

}

.button {
  color: #FFFFFF;
}

.hero {
  color: #000000;
  background-color: #a7d4f0;
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  text-align: center;
  background-image: url("../images/content/Hero-vector-footer.svg"), url("../images/content/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
}

.hero-image {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
}

.introduction {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 69px;
  padding-bottom: 90px;
  background-color: #FFFFFF;

}

.introduction-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 620px;
  margin: 0 auto;
  padding-top: 0;

}

.introduction-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.2);
  margin: 0;
  padding: 0;
}


.advantages-list li:first-child,
.advantages-list li:last-child {
  background: #82B3D3;
  color: #FFFFFF;
  display: flex;
}


.advantages-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages-list li:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:not(:first-child):not(:last-child) {
  box-sizing: border-box;
  width: 400px;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 85px;
  padding-right: 85px;
  margin: 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item {
  min-height: 384px;
  list-style-type: none;
}


.services {
  text-align: center;
}

.services-list {
  background-color: rgba(131, 179, 211, 0.12);
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.services-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding: 0;
  margin: 0;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 182px;
  padding-bottom: 81px;
}

.services-list li:nth-child(even) {
  background-color: #FFFFFF;
}

.services-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
  padding: 0;
}

.services-description {
  color: #333333;
  margin-top: 0;
  padding: 0;
}

.involved {
  box-sizing: border-box;
  padding-top: 96px;
  text-align: center;
  background-color: #FFFFFF;
  min-height: 406px;

}

.involved-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

}

.involved-statement {
  box-sizing: border-box;
  margin-top: 0;
  width: 592px;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  color: #333333;
}

.involved-link {
  box-sizing: border-box;
  display: block;
  width: 376px;
  margin: 0 auto;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  margin-top: 54px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.subscription-part {
  text-align: center;
  background-image: url(../images/content/background_subscription_index.jpg);
  background-size: 1200px auto;
  margin: 0 auto;
  color: #FFFFFF;
  background-color: #a7d4f0;
  background-repeat: no-repeat;
  width: 1200px;
  height: 412px;
}

.subscription-title {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 96px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-statement {
  padding-top: 0px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.page-footer {
  background-color: #FFFFFF;
  margin-top: auto;
  min-height: 120px;
}

.footer-fields {
  width: 1060px;
  margin: 0 auto;
  display: flex;

}

.contacts-phone {
  box-sizing: border-box;
  display: block;
  width: 720px;
  text-align: center;
  margin-top: 45px;
  margin-left: 42px;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 48px;
  height: 40px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.filter-part {
  display: flex;
  background-image: url("../images/content/Filter_image.jpg");
  background-size: 1200px auto;
  min-height: 412px;
  color: #FFFFFF;
  background-color: #a7d4f0;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  flex-direction: column;

}

.filter-results-container {
  width: 1060px;
  margin: 0 auto;
}

.filter-part-container {

  width: 1060px;
  margin: 0 auto;
}


.inner-header-title {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;

}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  margin-left: 10px;
}

.catalog-filter{
  margin-top: 40px;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-around;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}
 .filter-part-container{
  margin-top: 35px;
 }

.filter-results {
  background-color: #FFFFFF;
  padding-bottom: 60px;
}

.total-hotels-number{
  min-width: 338px;
  margin-right: 200px;
}

.sorting-container {
  display: flex;
  align-items: center;

}

.sorting-icons-container {
  display: flex;
  width: 522px;


}

.hotel-sort {
  width: 292px;
  margin-right: 70px;
}

.button-sort {
  width: 48px;
  height: 48px;
}

.button-sort:not(:last-child) {
  margin-right: 8px;
}

.subscription-for-catalog {
  background-image: none;
  background-color: #FFFFFF;
  color: #333333;
}

.total-hotels-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-main-info {
  color: #333333;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  order: -1;
}


.product-card-button {
  background-color: #756157;
}

.product-card-favorites {
  background-color: #82B3D3;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 40px;

}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
}

.hotel-sort {
  color: #333333;
}

.subscription-button {
  background-color: #82B3D3;
}

